<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <servlet>
      <servlet-name>HelloWorldServlet</servlet-name>
      <servlet-class>mypkg.HelloServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>DataOraServlet</servlet-name>
      <servlet-class>mypkg.DataOraServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>SalutaServlet</servlet-name>
      <servlet-class>mypkg.Saluta</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>SalutaServlet</servlet-name>
      <servlet-class>mypkg.Saluta2</servlet-class>
   </servlet>
 
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>HelloWorldServlet</servlet-name>
      <url-pattern>/sayhello</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DataOraServlet</servlet-name>
      <url-pattern>/oggi</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>SalutaServlet</servlet-name>
      <url-pattern>/saluta</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>SalutaServlet</servlet-name>
      <url-pattern>/saluta2</url-pattern>
   </servlet-mapping>
   
  <welcome-file-list>  
      <welcome-file>home.html</welcome-file>  
  </welcome-file-list>  
  
  <servlet>
      <servlet-name>Test1</servlet-name>
      <jsp-file>/saluta1.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Test1</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>
   
</web-app>
